$font: Poppins;

$transition: ease-in-out 0.3s;

$bg: linear-gradient(0deg, rgb(112, 173, 71) 0%, rgb(44, 89, 129) 100%);
$white: #dddddd;
$black: #212121;
$green: rgb(112, 173, 71);
$darkGreen: darken($green, 20%);
$blue: rgb(44, 89, 129);
$lightBluee: lighten($blue, 20%);
$lighterBlue: rgb(180, 199, 231);
$yellow: rgb(255, 242, 204);
$headerTextGreen: rgb(83, 129, 53);
